In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ejemplo.csv')

In [3]:
data.head()

   nombre   edad  animal_favorito
0   hayde     32            todos
1    juan     28           jirafa
2  pepito     15      rinoceronte